.title {
  font-size: 15px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.price {
  font-size: 12px;
}
.productContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.Card {
  height: 250px;
  width: 300px;
  cursor: pointer;
}
.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.SearchButton {
  border-color: black;
}
.cart {
  width: 70vw;
  margin: auto;
  margin-top: 25px;
  max-height: 80vh;
}
.cartItems {
  overflow: scroll;
  max-height: 80vh;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.cartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
